.pro-code{
    background-color: hotpink;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: white;
    font-size: x-small;
}

.coupon-btn{
    background-color: rgb(249, 55, 152);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    right: 8px;

}

.purchase{
    
    background-color: rgb(249, 55, 152);
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    
}

.card:hover{
    width: 300px;
    height: 350px;
    
}
